{% extends "todo/base.html" %}

{% block content %}

{{ error  }}

{{ todo.title }}

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit" name="submitButton">Save</button>
</form>

<form method="POST" action="{% url 'completeTodo' todo.id %}" >
    {% csrf_token %}
    <button type="submit" name="completeTodoButton">Complete</button>
</form>

<form method="POST" action="{% url 'deleteTodo' todo.id %}">
    {% csrf_token %}
    <button type="submit" name="deleteTodoButton">Delete</button>
</form>

{% endblock %}
